@using BenchmarkApp.Shared
@inject HttpClient Http

<h4>@Title</h4>

<div class="margin">

    <div style="height: 15px"> </div>

    <SingleResult Description="Loading n random users from Database" Title="User" Url="/user" BaseUrl="@BaseUrl"></SingleResult>

    <div style="height: 15px"> </div>


    <SingleResult Description="Finding specific user and loading n level of friends (Every User has 10 friends)" Title="Neighbours"
                  Url="/neighbour" BaseUrl="@BaseUrl">
    </SingleResult>

    <div style="height: 15px"> </div>


    <SingleResult Description="Loading aggregated value of users (for example average age)" Title="Aggregate"
                  Url="/aggregate" BaseUrl="@BaseUrl">
    </SingleResult>

    <div style="height: 15px"> </div>


    <SingleResult Description="Writing n randomly generated users to database" Title="Write"
                  Url="/write" BaseUrl="@BaseUrl">
    </SingleResult>

    <div style="height: 15px"> </div>


    <SingleResult Description="Writing n randomly generated users nested n levels deep to database" Title="Write Nested"
                  Url="/writeNested" BaseUrl="@BaseUrl">
    </SingleResult>

</div>

@code {

    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public string BaseUrl { get; set; }

}