@using BenchmarkApp.Shared

<table class="table">
    <thead>
    <tr>
        <th>Level</th>
        <th>LoadedEntities</th>
        <th>TimeSpan</th>
        <th>Success</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var result in Results)
    {
        <tr>
            <td style="width: 10%">@result.Level</td>
            <td style="width: 10%">@result.LoadedEntities</td>
            <td style="width: 10%">@result.MilliSeconds Milliseconds</td>
            <td style="@GetStyle(@result)">@result.Success</td>
        </tr>
    }
    </tbody>
</table>

@code {

    [Parameter]
    public IEnumerable<BenchmarkResult> Results { get; set; }

    private string GetStyle(BenchmarkResult result) =>
        result.Success ? "width: 10%; color:green" : "width: 10%; color:red";


}